<header> Looper</header>

<body>
	<div class="vertical_line" style="float:left">
	</div>
		
	<div id="age" class="large_circle">
		<p>age</p>
		<span>21</span>
	</div>
		
	<div id="status">
		if u can fill in this part for me that be nice. gotta work on other stuff right now.
	</div>
	
	<div id="date" class="large_circle">
		<p>Dec</p>
		<span>5</span>
	</div>
	
	<div id="end_float"></div>
	
	<div id="profile" class="circle">
		<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	</div>
	<div id="end_float"></div>
	
	<div id="time" class="circle">
		<p>9<span>AM</span></p>
	</div>
	
	<div id="end_float"></div>
	
	<div id="event_box">
		<img id="event_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
		<p id="year">1956</p>	
		<p id="experience">First Car: Ford Dodge</p>	
		<p id="info_origin">Personal Account</p>	
		<p id="gpchat_text">Chat With Grandpa Raul</p>
		
		<div id="chat_space">
			<div id="chat" class="circle">
				<p id="call"> Call </p>
			</div>	
			<div id="chat" class="circle">
				<p id="email"> Email </p>
			</div>
			<div id="chat" class="circle">
				<p id="skype"> Skype </p>
			</div>
		</div>
		
		<div id="end_float"></div>
		<p id="how_to"> click photo for full screen experience <p>
	</div>
	
	<div id="connect_grandparents">		
		<div id="circle_gp1" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp2" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp3" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp4" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
	</div>
	<div id="end_float"></div>

		
	<div id="profile" class="circle">
		<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	</div>
	<div id="end_float"></div>
	
	<div id="time" class="circle">
		<p>12<span>PM</span></p>
	</div>
	
	<div id="end_float"></div>
	<div id="event_box">
		<img id="event_img" src="<%= asset_path( 'tom-prf.png' ) %>" />	
		<p id="year">1956</p>	
		<p id="experience">First Car: Ford Dodge</p>	
		<p id="info_origin">Personal Account</p>	
		<p id="gpchat_text">Chat With Grandpa Raul</p>
		<div id="chat_space">
			<div id="chat" class="circle">
				<p id="call"> Call </p>
			</div>	
			<div id="chat" class="circle">
				<p id="email"> Email </p>
			</div>
			<div id="chat" class="circle">
				<p id="skype"> Skype </p>
			</div>
		</div>
		<div id="end_float"></div>
		<p id="how_to"> click photo for full screen experience <p>
	</div>
	<div id="connect_grandparents">		
		<div id="circle_gp1" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp2" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp3" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp4" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
	</div>
	<div id="end_float"></div>
	

	

<div id="container">Loading..</div> <!--where the events will populate-->
		

</body>
<footer></footer>
