<header> Looper</header>

<body>
		<div class="vertical_line" style="float:left">
		</div>
		<div id="age" class="circle">
				<p style="font-size:15px;margin-left:24px">age</p>
				<p id="age_value" align="center">
					<font size="6">21</font>
				</p>
		</div>
	<div id="end_float"></div>
		
	<div id="date" class="circle">
		<p id="time_num" align="center">
			<font size="5">Dec</font>
			<br> 
			<font size="5">5</font>
		</p>
	</div>
		
	<div id="profile" class="circle">
		<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	</div>
	<div id="end_float"></div>
	<div id="time" class="circle">
		<p id="time_num" align="center">9 <br> AM</p>
	</div>
	<div id="end_float"></div>
	<div id="event_box">
		<img id="event_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
		<p id="year">1956</p>	
		<p id="experience">First Car: Ford Dodge</p>	
		<p id="info_origin">Personal Account</p>	
		<p id="gpchat_text">Chat With Grandpa Raul</p>
		<div id="chat_space">
			<div id="chat" class="circle">
				<p id="call"> Call </p>
			</div>	
			<div id="chat" class="circle">
				<p id="email"> Email </p>
			</div>
			<div id="chat" class="circle">
				<p id="skype"> Skype </p>
			</div>
		</div>
		<div id="end_float"></div>
		<p id="how_to"> click photo for full screen experience <p>
	</div>
	<div id="connect_grandparents">		
		<div id="circle_gp1" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp2" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp3" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp4" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
	</div>
	<div id="end_float"></div>

		
	<div id="profile" class="circle">
		<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	</div>
	<div id="end_float"></div>
	<div id="time" class="circle">
		<p id="time_num" align="center">12 <br> PM</p>
	</div>
	<div id="end_float"></div>
	<div id="event_box">
		<img id="event_img" src="<%= asset_path( 'tom-prf.png' ) %>" />	
		<p id="year">1956</p>	
		<p id="experience">First Car: Ford Dodge</p>	
		<p id="info_origin">Personal Account</p>	
		<p id="gpchat_text">Chat With Grandpa Raul</p>
		<div id="chat_space">
			<div id="chat" class="circle">
				<p id="call"> Call </p>
			</div>	
			<div id="chat" class="circle">
				<p id="email"> Email </p>
			</div>
			<div id="chat" class="circle">
				<p id="skype"> Skype </p>
			</div>
		</div>
		<div id="end_float"></div>
		<p id="how_to"> click photo for full screen experience <p>
	</div>
	<div id="connect_grandparents">		
		<div id="circle_gp1" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp2" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp3" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp4" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
	</div>
	<div id="end_float"></div>
	

	

<div id="container">Loading..</div> <!--where the events will populate-->
		

</body>
<footer></footer>
