<header> Looper</header>

<body>
	<div style="margin-top:-17px"> <!-- wrapper -->
		
			<div class="vertical_line" style="float:left">
	</div>
	<div id="age"> <!--should have an onload that gets the age -->	
			<div style="height:30px; margin-top:-18px">
				<h3 align="center" style="padding-top:7px">age</h3>
			</div>
		
			<div align="center" style="margin-top:9px"
				<font size="6" id="age_value" >21</font>
			</div>
	</div>
		
		
			<h1 style="margin-left:860px"> Connect With Grandparents </h1>
		
	<div id="end_float"></div>
	
	<div> <!-- /wrapper -->
		
	<div> <!-- wrapper -->
		
		<div id="user_prf" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
		</div>
		
		
		<div id="connect_grandparents">
			
		<div id="circle_gp1" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp2" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp3" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		<div id="circle_gp4" class="circle">
			<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
		</div>
		</div> <!--connect grandparents-->
		
		<div id="end_float"></div>
		
  	</div> <!-- /wrapper -->
		
		<div class="vertical_line">
		</div>
		
		<div> <!-- wrapper -->
		
	
		
		<div id="filter_bar">
			
			<div id="timescale_circle" class="circle">
			</div>
				
			<div class="filter"> <!-- day -->
				<div class="button">	
				</div>
				<font size="2" style="margin-left:15px;">day</font>
			</div> 
			
			<hr class="link"> <!-- link -->
			
			<div class="filter"> <!-- week -->
				<div class="button">	
				</div>
				<font size="2" style="margin-left:15px;">week</font>
			</div> 
			
			<hr class="link"> <!-- link -->
			
			<div class="filter"> <!-- month -->
				<div class="button">	
				</div>
				<font size="2"  style="margin-left:10px;" >month</font>
			</div> 
			<hr class="link"> <!-- link -->
			
			<div class="filter"> <!-- year -->
				<div class="button">	
				</div>
				<font size="2"  style="margin-left:15px;" >year</font>
			</div> 
			
		</div>
		 
		</div> <!-- /wrapper -->
		<div id="end_float"></div>
		
		<div id="date">
			<font size="5">Dec 5</font> <!-- unknown reason why css does not affect it-->
		</div>
		
		<form id="search" action="http://google.com/cse">
  		<input type="hidden" name="cx" value="YOUR SEARCH ENGINE ID goes here" />
  		<input type="hidden" name="ie" value="UTF-8" />
  		<input type="text" name="q" size="31" />
  		<input type="submit" name="sa" value="Search" />
		</form>
		
		<div class="slider">
			<div id="user_prf" class="circle">
				<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
			</div>
			
			<div class="event_circle">
				<img class="event_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
			</div>
		</div>
		
		<form class="radio_wrapper">
			<input type="radio" name="event" class="slider_button" />
			<input type="radio" name="event" class="slider_button" />​
			<input type="radio" name="event" class="slider_button" />​
		</form>
		
	</div>
	


	
	
	<div id="container">Loading..</div> <!--where the events will populate-->
		

</body>
<footer></footer>
