
<div class="vertical_line" style="float:left">
</div>
	
<div id="age" class="large_circle">
	<p>age</p>
	<span>21</span>
</div>
	
<div id="status">
	<img class="circle_img" src="<%= asset_path( 'max-prf.png' ) %>" />
	<p>You have <font>1 event</font> today </p>
	<div class="circle"><p>></p></div>
	
<div id="grandparents" style="padding-top: 1.5em">
	<img id="p1Toggle" class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>" />
	<img id="p2Toggle" class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	<img id="p3Toggle" class="circle_img" src="<%= asset_path( 'martha-prf.png' ) %>" />
	<img id="p4Toggle" class="circle_img" src="<%= asset_path( 'sarah-prf.png' ) %>" />
</div>
<div class="circle"><p><a href="#user">></a></p></div>
</div>



<div id="date" class="large_circle">
	<p>Dec</p>
	<span>5</span>
</div>

<div id="end_float"></div>

<%% for event in @events.models: %>
	<%% show = event.get('show') %>
	<%% if show: %>
	<%% name = event.get('name') %>
	<%% description = event.get('description') %>
	<%% person = event.get('person') %>
	<%% date = event.get('date') %>
	
<div id="profile" class="circle">
	
	<img class="circle_img" src=<%%= event.get('person_photo') %> alt="person_photo">
	<p><font> <%%= person %></font></p>
</div>
<div id="end_float"></div>

<div id="time" class="circle">
	<p><p><%%= date.slice(11,13) %></p>
	<span>AM</span></p>
</div>

<div id="end_float"></div>	
	<div id="event_box">
		<div><img id="event_img" src=<%%= event.get('event_photo') %> alt="event_photo"> 
		<p id="how_to"> click for full screen experience <p></div>

		<div id ="event_info">
			<p id="year"><%%= date.slice(0,4) %></p>	
			<p id="experience"><%%= name %></p>	
			<p id="info_origin"><%%= description %></p>


			<div id="chat_space">
				<p>Chat with <%%= person %></p>

				<div id="chat">
					<p> call </p>
				</div>	

				<div id="email">
					<p> email </p>
				</div>

				<div id="email">
					<p> skype </p>
				</div>

				<div id="end_float"></div>
			</div> <!--chat_space-->

		</div> <!--event_info-->
	</div> <!---event_box-->
	<!---
	<div id="select_grandparent">		
	<div id="circle_gp1" class="circle selected">
		<img class="circle_img" src=<%%= event.get('person_photo') %> alt="person_photo">
	</div>
	</div>
	-->
	</div>
<div id="end_float"></div>

	<%% end %>
<%% end %>

<div id="end_float"></div>

<p> ENDS HERE!!!!!!! </p>

	
<div id="profile" class="circle">
	<img class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>" />
	<p>align timeline to <font> Raul </font></p>
</div>
<div id="end_float"></div>

<div id="time" class="circle">
	<p>12<span>PM</span></p>
</div>

<div id="end_float"></div>

<!-- <div id="select_grandparent">		
	<div id="circle_gp1" class="circle selected">
		<img class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>"/>
	</div>
	<div id="circle_gp2" class="circle">
		<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
	</div>
	<div id="circle_gp3" class="circle">
		<img class="circle_img" src="<%= asset_path( 'martha-prf.png' ) %>"/>
	</div>
	<div id="circle_gp4" class="circle">
		<img class="circle_img" src="<%= asset_path( 'sarah-prf.png' ) %>"/>
	</div>
</div> <!---select grandparent-->

<div id="end_float"></div>

<!-- ************************* "your events" styling ***************************-->

<br>
<br>
<br>

<div id="status_grandparents">
	<div id="status_date"><p>DEC</p><span>5</span></div>
	<div id="grandparents">
		<img class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>" />
		<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
		<img class="circle_img" src="<%= asset_path( 'martha-prf.png' ) %>" />
		<img class="circle_img" src="<%= asset_path( 'sarah-prf.png' ) %>" />
	</div>
	<div class="circle"><p>></p></div>
</div>

<div id="user_event" class="circle">	
	<p>10<span>AM</span></p>
	<p>Interview at Google</p>
	<p>location: Mountain View, Ca </p>
</div>

<div id="profile" class="circle">
	<img class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>" />
	<p>align timeline to <font> Raul </font></p>
</div>
<div id="end_float"></div>

<div id="time" class="circle">
	<p>12<span>PM</span></p>
</div>

<div id="end_float"></div>





<div id="event_box">
	<img id="event_img" src="<%= asset_path( 'event_ibm.png' ) %>" />
	<p id="how_to"> click photo for full screen experience <p>

	<div id ="event_info">
		<p id="year">1959 <font style="margin-top:0; font-size:18px; display:block">age: 26</font></p>	
		<p id="experience">Interview with IBM</p>	
		<p id="info_origin">PERSONAL ACCOUNT</p>
	
		<div id="chat_space">
			<p>Chat with Grandpa Raul</p>
		
			<div id="chat">
				<p> call </p>
			</div>	
		
			<div id="email">
				<p> email </p>
			</div>
		
			<div id="email">
				<p> skype </p>
			</div>
			
			<div id="end_float"></div>
		</div> <!--chat_space-->
		
	</div> <!--event_info-->
</div> <!---event_box-->



<div id="select_grandparent">		
	<div id="circle_gp1" class="circle selected">
		<img class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>"/>
	</div>
	<div id="circle_gp2" class="circle">
		<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>"/>
	</div>
</div> <!---select grandparent-->

<div id="end_float"></div>