<!--
<%% for event in @events.models: %>
	<%%= event.get('person') %>
<%% end %>
-->
<div class="vertical_line" style="float:left">
</div>

<div id="age" class="large_circle">
	<p>age</p>
	<span>21</span>
</div>

<div id="status_grandparents">
	<div id="status_date"><p>DEC</p><span>5</span></div>
	<div id="grandparents">
		<img class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>" />
		<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
		<img class="circle_img" src="<%= asset_path( 'martha-prf.png' ) %>" />
		<img class="circle_img" src="<%= asset_path( 'sarah-prf.png' ) %>" />
	</div>
	<div class="circle"><p><a href="">></a></p></div>
</div>

<div id="user_event" class="circle">	
	<p>10<span>AM</span></p>
	<p>Interview at Google</p>
	<p>location: Mountain View, Ca </p>
</div>

<div id="select_grandparent" style="margin-top: -50px;  position:relative; z-index:10;">		
	<div id="circle_gp1" class="circle selected">
		<img class="circle_img" onClick="ShowRaul()" src="<%= asset_path( 'raul-prf.png' ) %>"/>
	</div>
	<div id="circle_gp2" class="circle">
		<img class="circle_img" onClick="ShowTom()" src="<%= asset_path( 'tom-prf.png' ) %>"/>
	</div>
</div> <!---select grandparent-->

<div id="end_float"></div>






<div id = "RaulSlider" style="DISPLAY: block">
<ul id="slider1">
	<li>
	<img class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>" />
	<img class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>" />
	<img class="circle_img" src="<%= asset_path( 'raul-prf.png' ) %>" />
	</li>
	<li>
	<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	</li>
</ul>


<div id="1Pager">
  <a data-slide-index="0" href=""><img src="<%= asset_path( 'tom-prf.png' ) %>" /></a>
  <a data-slide-index="1" href=""><img src="<%= asset_path( 'tom-prf.png' ) %>" /></a>
</div>

</div>

<!--
<div id = "TomSlider" style="display: block">
<ul id="slider2">
	<li style="display: block">
	<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	</li>
	<li style="display: block">
	<img class="circle_img" src="<%= asset_path( 'tom-prf.png' ) %>" />
	</li>
</ul>
</div>
-->




<script>
function ShowRaul()
{
	document.getElementById('RaulSlider').style.display='block';
	document.getElementById('TomSlider').style.display = 'none';
}

function ShowTom()
{
	document.getElementById('TomSlider').style.display='block';
	document.getElementById('RaulSlider').style.display = 'none';
}


<%% test = 1 %>
function loadSlider(){
  $('#slider1').bxSlider({
	mode: 'fade',
	pagerCustom: '#' + <%%= test %> + 'Pager'
  });

}

<%% test++ %>
<%% console.log(test) %>

$(document).ready(function() {loadSlider()});
</script>
